[Desktop Entry]
Version=0.1.0
Name=Quietus
Comment=Quietus.
Exec=/usr/bin/quietus
Icon=quietus
Terminal=false
Type=Application
Categories=Application;
